.contact-main {
    height: 100%;
    width: 100%;
    position: relative;
    background: linear-gradient(
        rgba(0, 0, 0, 0.6), 
        rgba(0, 0, 0, 0.6)
      ),
      url('./bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.contact-container {
    padding: 20px;
    min-width: 20%;
    min-height: 40%;
    width: fit-content;
    height: fit-content;
    background: 
        linear-gradient(
        rgba(0, 0, 0, 0.6), 
        rgba(0, 0, 0, 0.6)
      );
    color: azure;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 3px;
    text-align: center;
    -webkit-box-shadow: -4px 4px 24px -4px rgb(0, 0, 0);
    -moz-box-shadow: -4px 4px 24px -4px rgb(0, 0, 0);
    box-shadow: -4px 4px 24px -4px rgb(0, 0, 0);
}
.contact-container p {  
    text-align: center;
    margin: 0;
}
.input {
    color: azure;
    padding: 5px;
    margin-bottom: 3px;
    background: 
        linear-gradient(
        rgba(0, 0, 0, 0.3), 
        rgba(0, 0, 0, 0.3)
      );
    border-radius: 3px;
    border: 1px solid rgb(47, 47, 47);
}

.name, .email, .message {
    width: 100%;
}
.input-button {
    color: azure;
    background: 
        linear-gradient(
        rgba(0, 0, 0, 0.3), 
        rgba(0, 0, 0, 0.3)
      );
}