.firm {
    height: 100%;
    width: 100%;
}
.firm .image {
    background-image: url('./maciej.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 50%;
}
.firm .bio hr {
    height: 2px;
}
.firm .bio {
    text-align: center;
    padding: 20px;
    position: relative;
}
.firm .bio .text {
    word-wrap: break-word;
    overflow-y: auto;
    height: fit-content;
    max-height: 100vh;
}
.firm .bio .text p {
    text-align: justify;
}
@media (max-width: 768px) {
    .firm .bio .text {
        max-height: 45vh;
    }
}